{:source-paths ["src/main"]
 :dependencies []
 :builds {:lambda {:target :node-library
                   :output-to "out/index.js"
                   :exports {:handler net.b12n.lambda-mvp.handler/handler}
                   :devtools {:enabled false}}}}
